<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://46.38.237.106:3306/Cooky_Dev</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="connection.username">jasper</property>
    <property name="connection.password">jasper1993!</property>

    <mapping class="de.cookyapp.persistence.entities.AddressEntity"/>
    <mapping class="de.cookyapp.persistence.entities.CategoryEntity"/>
    <mapping class="de.cookyapp.persistence.entities.CommentEntity"/>
    <mapping class="de.cookyapp.persistence.entities.CookbookEntity"/>
    <mapping class="de.cookyapp.persistence.entities.CookbookRecipeEntity"/>
    <mapping class="de.cookyapp.persistence.entities.FriendshipEntity"/>
    <mapping class="de.cookyapp.persistence.entities.IngredientEntity"/>
    <mapping class="de.cookyapp.persistence.entities.MessageEntity"/>
    <mapping class="de.cookyapp.persistence.entities.RecipeEntity"/>
    <mapping class="de.cookyapp.persistence.entities.RecipeIngredientEntity"/>
    <mapping class="de.cookyapp.persistence.entities.RecipeTagEntity"/>
    <mapping class="de.cookyapp.persistence.entities.ShoppingListEntity"/>
    <mapping class="de.cookyapp.persistence.entities.TagEntity"/>
    <mapping class="de.cookyapp.persistence.entities.UserEntity"/>
    <mapping class="de.cookyapp.persistence.entities.UserPreferenceEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>