html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.cooky-background {
    /* background: url("../../images/food_background.jpg") repeat;
    background-size: 600px; */
    background-color: #00FF99;
}

.cooky-mainContent {
    background-color: #ffffff;
}

.cooky-navigation-dropdown {
     padding: 10px;
 }

.cooky-fill {
    height: 100%;
}

.starSize {
    width: 28px;
}

.buttonTransparent {
    background: transparent;
    border: 0px;
}

#backgroundFill {
    background: url("/resources/images/rating/Star_filled.png");
}

.ratings_stars {
    content: url('/resources/images/rating/Star_empty.png');
    float: left;
    padding: 2px;
    width: 28px;
}

.starImage {
    content: url('/resources/images/rating/Star_filled.png');
}

.starHighlighted {
    content: url('/resources/images/rating/Star_filled.png');
}