html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.cooky-background {
    background: url("../../images/cooky-seamless-food.png") repeat;
    background-size: 250px;
}

.cooky-mainContent {
    background-color: #ffffff;
}

.cooky-navigation-dropdown {
     padding: 10px;
 }

.cooky-fill {
    height: 100%;
}

.button_transparent {
    background: transparent;
    border:none;
}

.ratings_stars {
    font-size:1.4em;
}

.cooky-recipeRating {
    font-size: 1.4em;
    color: gold;
}

#cookbookDetail .list-group {
    margin-top: 15px;
}