html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.cooky-background {
    /* background: url("../../images/food_background.jpg") repeat;
    background-size: 600px; */
    background-color: #00FF99;
}

.cooky-mainContent {
    background-color: #ffffff;
}

.cooky-navigation-dropdown {
     padding: 10px;
 }

.cooky-fill {
    height: 100%;
}

.cooky-recipeRating {
    font-size: 1.8em;
    color: gold;
}

#cookbookDetail .list-group {
    margin-top: 15px;
}